@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }
  .smooth-transition {
    transition: all ease-in-out 0.3s;
  }

  .show-menu {
    display: flex;
    position: absolute !important;
    margin-top: 0;
    width: 70%;
    background-color: white;
    transform: translate(70%, 0);
    padding: 1rem;
    overflow-x: hidden;
  }
}
