@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  html::-webkit-scrollbar {
    display: none;
  }

  html {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }
  .smooth-transition {
    transition: all ease-in-out 0.3s;
  }

  .show-menu {
    display: flex;
    position: fixed !important;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    transform: translate(50%, 0);
    padding: 1rem;
    overflow-x: hidden;
    z-index: 2;
    font-weight: 600;
    color: black;
    height: 100%;
  }

  ul.pagination {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem;
  }
  .card-zoom {
    @apply relative flex items-center justify-center m-3 overflow-hidden w-60 h-60 rounded-2xl;
  }
  .card-zoom-image {
    @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover shadow-sm cursor-pointer;
  }
  .card-zoom:hover .card-zoom-image {
    @apply scale-150;
  }
}
